#intro{
  background: url(../images/Linkedin-Banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: left;
}

.container-fluid{
  padding: 10% 10%;
  margin: 0;
}

.title{
  /* padding: inherit; */
}

body{
  font-family: "Montserrat";
  text-align: center;
}

h1{
  line-height: 1.5;
  color: #fefefa;
  font-size: 400%
}

h2{
  line-height: 1.5;
  color: #fefefa;
  font-size: 200%;
}

h3{
line-height: 1.4;
}

.navbar{
  /* padding-bottom: 1.5rem; */
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(17,21,23,.9);
  width: 100%;
  height: 4.5rem;
}
 .navbar-brand{
   font-weight: bold;
   font-size: 1.5rem;
 }

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
}

.download-btn{
  margin: 5% 3% 5% 0;
}

#resume{
  padding: 5% 10%;
  background: rgba(17,21,23,.9);
}

.card-grid{
  padding: 3% 2%;
}

#testimonials{
  background-color: #fefefa;
  width: auto;
}
.carousel-item{
    padding: 5% 15%;
    height: 30rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgba(17,21,23,.9);
  background-size: 65%, 65%;
  border-radius: 50%;
}

#contact{
  color: #fefefa;
  background: rgba(17,21,23,.9);
  padding: 5% 10%;
  margin-bottom: 0;
}

.contact-item{
  margin: 10px 10px;
}

#email-btn, #linkedin-btn {
  width: 2%;
}


/* .btn-email {
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 20px;
   font-weight: 700;
   padding-left: 3px;
   padding-right: 3px;
   background-color: #EA4335;
   border: solid #BB001B 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn-email:hover {
   background: #BB001B;
   border: solid #DD380D 1px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 3px;
   text-decoration: none;
}

.btn-linkedin {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 22px;
   font-weight: 700;
   padding-left: 3px;
   padding-right: 3px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn-linkedin:hover {
   background: #1E62D0;
   border: solid #337FED 1px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   text-decoration: none;
} */

#footer{
  padding: 0;
}
.bottom_container{
  font-family: 'Roboto', sans-serif;
  font-size: 80%;
  padding: 0.5%;
}

@media (max-width: 850px) {
  h1{
    /* line-height: 1.5;
    color: #fefefa; */
    font-size: 390%
  }

  h2{
    /* line-height: 1.5;
    color: #fefefa; */
    font-size: 190%;
  }
}
